<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head th:insert="~{/teacher/menu.html :: head}"></head>
<head >
    <title>添加学生</title>

</head>
<body>
<section id="container">
    <!-- menu and Navigation   -->
    <div th:insert="~{/teacher/menu.html :: menu}"></div>
    <!-- MAIN CONTENT-->
    <!--main content start-->
    <section id="main-content">
        <section class="wrapper site-min-height" id="app">
            <h3><i class="fa fa-angle-right"></i> 所有课程-课程名</h3>
            <div class="row mt">
                <!--  PROFILE 01 PANEL -->
                <ul class="nav nav-pills">
                    <li role="presentation" class="active"><a href="#">已添加</a></li>
                    <li role="presentation"><a href="#">未添加</a></li>
                </ul>
                <!-- /col-md-4 -->

                <!-- row table start-->
                <div class="row mt" style="margin: 30px">
                    <div class="col-md-12">
                        <div class="content-panel">
                            <table class="table table-striped table-advance table-hover">
                                <h4><i class="fa fa-angle-right"></i> 已添加学生</h4>
                                <hr>
                                <thead>
                                <tr>
                                    <th><i class="fa fa-bookmark"></i> 序号</th>
                                    <th><i class="fa fa-bookmark"></i> 班级</th>
                                    <th><i class="fa fa-bullhorn"></i> 学号</th>
                                    <th><i class="fa fa-bookmark"></i> 姓名</th>
                                    <th><i class="fa fa-bookmark"></i> 性别</th>
                                    <th><i class=" fa fa-edit"></i> 状态</th>
                                    <th><i class=" fa fa-edit"></i> 操作</th>
                                </tr>
                                </thead>
                                <tbody v-for="(item,index) in students">
                                <tr>
                                    <td>{{index+1}} </td>
                                    <td>{{item.classes}} </td>
                                    <td>{{item.studentId}} </td>
                                    <td>{{item.stuName}}</td>
                                    <td>{{item.stuSex}}</td>
                                    <td><span class="label label-info label-mini">{{item.stuStatus}}</span></td>
                                    <td>
                                        <button class="btn btn-success btn-xs"><i class="fa fa-check"></i></button>
                                        <button class="btn btn-primary btn-xs"><i class="fa fa-pencil"></i></button>
                                        <button class="btn btn-danger btn-xs"><i class="fa fa-trash-o "></i></button>
                                    </td>
                                </tr>

                                </tbody>
                            </table>
                        </div>
                        <!-- /content-panel -->
                    </div>
                    <!-- /col-md-12 -->
                </div>
                <!-- /row -->
            </div>
        </section>
        <!-- /wrapper -->
    </section>

</section>
</body>
<div th:insert="~{/teacher/menu.html :: commenjs}"></div>
<script>
    var app = new Vue({
        el:"#app",
        data:{
            students:[
                {
                    classes:"计算165",
                    studentId:"20160000",
                    stuName:"小明",
                    stuSex:"男",
                    stuStatus:"正常"
                }
            ]
        },
        methods:{

        }
    })
</script>
</html>