<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Dashboard">
    <meta name="keyword" content="Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina">
    <title>QuestionNaireOnline</title>

    <!-- Favicons -->
    <link href="img/favicon.png" rel="icon">
    <link href="img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Bootstrap core CSS -->
    <link href="lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!--external css-->
    <link href="lib/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <!-- Custom styles for this template -->
    <link href="css/style.css" rel="stylesheet">
    <link href="css/style-responsive.css" rel="stylesheet">
    <!-- 开发环境版本，包含了有帮助的命令行警告 -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/vue-cookies@1.7.0/vue-cookies.js"></script>
    <script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>
    <!-- 官网提供的 axios 在线地址 -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

</head>

<body>
<!-- **********************************************************************************************************************************************************
    MAIN CONTENT
    *********************************************************************************************************************************************************** -->
<div id="login-page">
    <div class="container">
        <div class="form-login">
            <a href="img/404.png"><h2 class="form-login-heading">登录</h2></a>
            <div class="login-wrap" id="logindiv">
                <input type="text" v-model="loginDTO.account" class="form-control" placeholder="邮箱/手机" autofocus>
                <br>
                <input type="password" v-model="loginDTO.password" class="form-control" placeholder="密码">
                <label class="checkbox">
                    <input type="checkbox" value="remember-me"> 记住我
                    <span class="pull-right">
                        <a data-toggle="modal" href="login.html#myModal"> 忘记密码?</a>
                    </span>
                </label>
                <button class="btn btn-theme btn-block" @click="login"><i class="fa fa-lock"></i> 登 录</button>
                <hr>
                <div class="login-social-link centered">
                    <p>其他方式登录</p>
                    <button class="btn btn-facebook" type="submit"><i class="fa fa-facebook"></i> Facebook</button>
                    <button class="btn btn-twitter" type="submit"><i class="fa fa-twitter"></i> Twitter</button>
                </div>
                <div class="registration">
                    没有账号?
                    <a class="" href="#" data-toggle="modal" data-target="#registModal">
                        创建账号
                    </a>
                </div>
            </div>
            <!-- 重置密码Modal -->
            <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="myModal" class="modal fade">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title">不记得密码 ?</h4>
                        </div>
                        <div class="modal-body">
                            <p>请输入您的邮箱，来重置密码</p>
                            <input type="text" name="email" placeholder="Email" autocomplete="off" class="form-control placeholder-no-fix">
                        </div>
                        <div class="modal-footer">
                            <button data-dismiss="modal" class="btn btn-default" type="button">取消</button>
                            <button class="btn btn-theme" type="button">确认</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- modal -->
        </div>
    </div>
</div>
<!-- 注册账号模态框 -->
<div class="modal fade" id="registModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">注册页面</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal">
                    <div class="form-group">
                        <label for="registEmail" class="col-sm-2 control-label">邮箱</label>
                        <div class="col-sm-10">
                            <input type="email" class="form-control" id="registEmail" placeholder="Email">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputPassword3" class="col-sm-2 control-label">密码</label>
                        <div class="col-sm-10">
                            <input type="password" class="form-control" id="inputPassword3" placeholder="密码">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputPassword4" class="col-sm-2 control-label">密码确认</label>
                        <div class="col-sm-10">
                            <input type="password" class="form-control" id="inputPassword4" placeholder="确认密码">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="verifycode" class="col-sm-2 col-xs-12 control-label">验证码</label>
                        <div class="col-sm-6 col-xs-6">
                            <input type="text" class="form-control" id="verifycode" placeholder="邮箱验证码">
                        </div>
                        <div class="col-sm-2 col-xs-2">
                            <button type="button" id="btnSendCode" data-loading-text="Loading..." class="btn btn-primary" autocomplete="off">
									<span class="register-msg-btn" v-show="show" @click="getCode">
										发送验证码
									</span>
                                <span class="register-msg-btn" v-show="!show">{{count}} s</span>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary">注册</button>
            </div>
        </div>
    </div>
</div>
</body>
<!-- 注册模态框Vue -->
<script>
    new Vue({
        el:'#registModal', //注册div的class
        data:{
            show:true,
            timer:null,
            count:''
        },
        methods:{
            getCode(){
                this.show = false;
                const TIME_COUNT = 60;
                //  首次点击后开始读秒，读秒过程中点击， 不重置秒数也不重发邮件
                if (!this.timer) {
                    // 调用发邮件接口


                    // 开始读秒       
                    this.count = TIME_COUNT;
                    this.show = false;
                    //    setInterval()  每1000ms执行一次函数
                    this.timer = setInterval(() => {
                        if (this.count > 0 && this.count <= TIME_COUNT) {
                            this.count--;
                        } else {
                            this.show = true;
                            clearInterval(this.timer);
                            this.timer = null;
                        }
                    }, 1000)
                }
            }
        }
    });
</script>
<!--登录Vue-->
<script>
    new Vue({
        el:'#logindiv', //登录div
        data:{
            loginDTO : {
                account:"",
                password:""
            }
        },
        methods:{
            login() {
                axios.post('/login', this.loginDTO)
                    .then(res =>{
                        console.log("登录成功");
                    })
                    .catch(function (error) {
                        alert("账号或密码不正确");
                        console.log(error);
                    });
            },
        }
    });
</script>
<!-- js placed at the end of the document so the pages load faster -->
<script src="lib/jquery/jquery.min.js"></script>
<script src="lib/bootstrap/js/bootstrap.min.js"></script>
<!--BACKSTRETCH-->
<!-- You can use an image of whatever size. This script will stretch to fit in any screen size.-->
<script type="text/javascript" src="lib/jquery.backstretch.min.js"></script>
<script>
    $.backstretch("img/login-bg.jpg", {
        speed: 500
    });
</script>
</html>
